* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: crimson;
    align-items: left;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;

}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
    padding: 15px 5px;
}

.mainContent{
    text-align: center;
}

.box {
    box-sizing: border-box;
    padding: 25px 50px;  /* top + bottom & left = right  */
    padding: 50px; /* everything */
    padding: 50px 25px 30px; /*top, right & left, bottom */
    padding: 10px 15px 10px 17px; /*top, right, bottom, left */
}